.StepForm {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.StepForm h2 {
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
  text-align: left;
}

.TaskBody .TaskInfoWrapper div.StepEdit .buttons {
  padding: 10px;
  margin: 0px;
}

.StepForm > div {
  display: flex;
  flex: auto;
}

.StepForm label {
  width: 100px;
  text-align: start;
  align-items: center;
  padding-left: 10px;
  display: flex;
}

.StepForm input {
  font-size: 14px;
  border: 1px solid var(--border-color); 
  margin-right: 10px;
  flex: 1;
  height: 30px;
  text-indent: 5px;
  outline: none!important;
}

.StepForm input:valid {
  border-left: 1px solid var(--border-color); 
}

.StepForm input:invalid {
  border-left: 1px solid red!important; 
  outline: none;
  box-shadow: none;
}

.StepForm input.first {
  border-bottom: 0;
}

.StepForm input.last {
  border-top: 0;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width:70px;
}

.btn:hover {
  transform: scale(1.2);
}

.btn-green {
  background-color: var(--color-green-light);
  border-color: var(--color-green);
  border: 2px solid var(--color-green);
  border-radius: 5px;
}

.btn-red {
  background-color: #ff6363;
  border-color: #a63f3f;
  border: 2px solid #a63f3f;
  border-radius: 5px;
}

.btn-orange {
  background-color: #ff8d4f;
  border-color: #b86437;
  border: 2px solid #b86437;
  border-radius: 5px;
}