.Dashboard {
  --font-size: 18px;
  --box-height: 50px;
}

.Dashboard {}

.Dashboard .top {
  display: flex;
  padding: 30px;
  border-bottom: 1px solid var(--border-color);
}

.Dashboard .top input {
  height: var(--box-height);
  width: 300px;
  font-size: var(--font-size);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  text-indent: 10px;
}

.Dashboard .filterbuttons {
  display: flex;
  margin-left: 30px;
}

.Dashboard .filterbutton {
  border: 1px solid var(--border-color);
  height: var(--box-height);
  width: 140px;
  line-height: var(--box-height);
  border-right: 0;
  cursor: pointer;
  font-size: var(--font-size); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dashboard .filterbutton.selected {
  background-color: var(--background-color); 
}

.Dashboard .filterbutton img {
  height: 25px;
}

.Dashboard .filterbutton span {
  margin-left: 10px;
  user-select: none;
}

.Dashboard .filterbutton.last {
  border-right: 1px solid var(--border-color);
  border-radius: 0px 5px 5px 0px;
}

.Dashboard .filterbutton.first {
  border-radius: 5px 0px 0px 5px;
}
