.Dashboard {
  --font-size: 18px;
  --box-height: 50px;
}

.Dashboard .TaskListItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Dashboard .TaskListItemsError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
