.App-header {
  position: absolute;
  top: 0;
  right: 0;
  height: 50;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 5px;
}

.App-header img {
  width: 50px;
}
