.CronInput {
  text-align: right;
}

.TaskListItem .editbuttons {
  width: 100px;
  text-align: right;
}

.TaskListItem .editbuttons img {
  opacity: 0.3;
  margin-left: 10px;
}

.TaskListItem .editbuttons img:hover {
  opacity: 1;
}

.TaskListItem .editbuttons img:active {
  opacity: 0.5;
}

/* .TaskListItem .lastrun {
  width: 120px;
  text-align: right;
} */

/* .TaskListItem span {
  display: block;
  padding: 10px;
} */

.editbuttons img {
  height: 30px;
  margin-left: 10px;
  cursor: grab;
}

.MuiTableCell-root img {
  height: 30px;
  margin-right: 10px;
  /* width: 50px; */
}

.MuiTableCell-root, input {
  font-size: 20px !important;
  line-height: 20px;
}
