.TaskListItem {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--background-color);
}

.TaskListItem span {
  display: block;
  padding: 10px;
}

.TaskListItem img {
  height: 20px;
}

.TaskListItem img:last-of-type {
  cursor: pointer;
}
.TaskListItem img:last-of-type:active {
  opacity: 0.5;
}
