.ExecListItem {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid var(--background-color);
  cursor: pointer;
  font-size: 12px;
}


.ExecListItem:hover {
  transform: scale(1.01);
  background-color: #fefefe;
  border: 1px solid var(--border-color);
}

.ExecListItem:last-of-type {
}

.ExecListItem.selected {
  background-color: var(--background-color);
}

.ExecListItem span {
  display: block;
  padding: 3px;
}

.ExecListItem .date {
  font-weight: bold;
}

.ExecListItem .meta {
  font-style: italic;
}

.ExecListItem img {
  height: 20px;
  padding-left: 10px;
  padding-right: 7px;
}

.ExecListItem .times {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  padding: 10px;
}
