.Error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 400px;
  height: 200px;
  border: 1px solid #f48989;
  background-color: #FEEFEF;
}

.Error img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.Error span {
  color: #DA1414;
}
