.FileListItem {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid var(--background-color);
  cursor: pointer;
}

.FileListItem:hover {
  /* transform: scale(1.01); */
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid var(--border-color);
}

.FileListItem:last-of-type {
  border-bottom: none;
}

.FileListItem:first-of-type {
  border-bottom: 1px solid var(--background-color);
}

.FileListItem.selected {
  background-color: var(--background-color);
}

/* .FileListItem span {
  display: block;
  padding: 10px;
} */

/* .FileListItem pre {
  display: block;
  padding: 10px;
} */

.FileListItem img, svg {
  height: 30px;
  padding-left: 10px;
}

.FileListItem img.details {
  padding-right: 10px;
}

/* .img-clickable:hover {
  transform: scale(1.2);
} */

.statusicon {
  margin-right: 15px;
}

.FileIconContainer {
  max-width: 40px;
  height: 30px;
  margin: 0px;
  margin-right: 0px;
  box-sizing:border-box;
}

.FileName {
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 10px;
}
 
.FileListIcon {
  font-size: 30px;
} 

.flexmebruv {
  display:flex;
}

.FileListIcon:hover {
  transform: scale(1.1);
}