.Task {
  --font-size: 18px;
  --box-height: 50px;
}

.Task .TaskBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Task .TaskError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.TaskBody .top {
  display: flex;
  align-items: center;
  width: 100%;
}

.TaskBody .top img {
  height: 35px;
}

.TaskBody .top h1 {
  padding: 10px;
  margin-left: 10px;
}

.TaskBody .top .cron {
  margin-right: 20px;
  font-size: var(--font-size);
}

.TaskBody .TaskInfoWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.TaskBody .TaskInfoWrapper > div {
  border: 1px solid var(--border-color);
  flex: 1;
}

.TaskBody .TaskInfoWrapper > div:last-of-type {
  border-left: none; 
}

.TaskBody .TaskInfoWrapper > div:first-of-type {
  border-right: none; 
}
.runicon {
  margin-right: 15px;
}

.TaskBody .TaskInfoWrapper div.StepEdit {
  border-left: 1px solid var(--border-color);
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.img-clickable {
  transform: scale(1.1);
}