.StepListItem {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid var(--background-color);
  cursor: pointer;
}

.StepListItem:hover {
  transform: scale(1.01);
  background-color: #fefefe;
  border: 1px solid var(--border-color)
}

.StepListItem:last-of-type {
  border-bottom: none;
}

.StepListItem.selected {
  background-color: var(--background-color);
}

.StepListItem span {
  display: block;
  padding: 10px;
}

.StepListItem pre {
  display: block;
  padding: 10px;
}

.StepListItem img {
  height: 20px;
  padding-left: 10px;
}

.StepListItem img.details {
  padding-right: 10px;
}

.img-clickable:hover {
  transform: scale(1.2);
}